* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #8f3a3a; /* vinho */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 0px; 
}

.container img {
  max-height: 80%;
  max-width: 90%;
  object-fit: contain;
}
